<!DOCTYPE html>
<html>

<head>
  <% include ./partials/_head %>
  <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

<body>

  <div class="container logo-container">
    <% include ./partials/_header %>
  </div>

  <div id="main">
    <div class="main">
      <form action="/" method="post">

        <h1>
          Login
        </h1>

        <h1>
          <a href="/auth/google" class="btn btn-social btn-gplus btn-lg">
            <i class="fa fa-google"></i> Continue With Google
          </a>
        </h1>

        <h1>
          <a href="/auth/facebook" class="btn btn-social btn-facebook btn-lg">
            <i class="fa fa-facebook"></i> Continue With Facebook
          </a>
        </h1>

        <div class="inset">

          <% if(hasErrors){ %>
          <% lodash.forEach(messages, function(error){
                  %>
          <div class="alert alert-danger text-center">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= error %>
            <br>
          </div>
          <%})%>

          <% } %>

          <p>
            <label for="email">EMAIL ADDRESS</label>
            <input type="email" name="email" placeholder="Email" required class="form-control" />
          </p>
          <p>
            <label for="password">PASSWORD</label>
            <input type="password" name="password" placeholder="Password" required />
          </p>

        </div>

        <p class="p-container">
          <span>
            <a href="/signup">Not yet a member?</a>
          </span>
          <input type="submit" class="login-log" value="Login">
        </p>
      </form>
    </div>
  </div>

  <% include ./partials/_footer %>
</body>

</html>