body {
    font-family: 'Open Sans', sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 90% 90%;
    background: #2D1940 !important;
    color: white !important;
}

.logo-container {
    margin-bottom: 5px;
}

.logo-div a {
    color: #4aa1f3 !important;
    text-decoration: none !important;
    text-shadow: 1.5px -0px 1.5px rgba(0, 0, 0, 0.4);
}

.reg-div a {
    color: #4aa1f3 !important;
    font-size: 18px;
    text-decoration: none !important;
    z-index: 1000;
}

.main {
    width: 36%;
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 5%;
}

#main {
    background: #522e75 !important;
    border: none;
    height: 100%;
    /*    min-height: 300px;*/
}

form {
    background: #fff;
    overflow: hidden;
    position: relative;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

form:after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 100px;
    left: 20%;
    top: 0;
}

form:before {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 5px;
    border-radius: 50%;
    left: 34%;
    top: -7px;
    /*box-shadow: 0 0 6px 4px #fff;*/
}

input[type=submit] {
    padding: 5px 20px;
    /*IE6-9*/
    color: #0d93ff;
    float: right;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    outline: none;
    background-color: transparent;
    border: none;
    box-shadow: 0 0 20px 0.5px rgba(0, 0, 0, .1);
    transition: box-shadow 500ms linear;
    -webkit-transition: box-shadow 500ms linear;
    -moz-transition: box-shadow 500ms linear;
    -ms-transition: box-shadow 500ms linear;
    -o-transition: box-shadow 500ms linear;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

input[type=submit]:hover {
    /*box-shadow: 4px 2px 6px 0px black;
    */
    box-shadow: 0 0 11px 0 #522e75;
    cursor: pointer;
    /*W3C*/
    filter: ;
    progid: DXImageTransform.Microsoft.gradient( startColorstr='#66ae3f', endColorstr='#8ac754', GradientType=0);
    /* IE6-9 */
    : ;
    -webkit-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ae3f', endColorstr='#8ac754', GradientType=0);
}

.login-log {
    cursor: pointer;
    padding: 7px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 17px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.inset {
    padding: 20px 20px 0px 20px;
    /*border-top: 1px solid #000;*/
}

form h1 {
    text-align: center;
    padding: 18px 0;
    border-bottom: 1px solid #e7e7e7;
    position: relative;
    margin-top: 0px
}

form h1 {
    color: #4aa1f3;
    /*text-shadow: 0 1px 0 #000;*/
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    padding: 18px 0;
    border-bottom: 1px solid #e7e7e7;
    position: relative;
}

form h1 span {
    padding: 5px;
    background: #0184ff;
}

label {
    /*color: rgba(137, 192, 243, 0.8);*/
    color: #858585;
    display: block;
    font-size: 13px;
    /*padding-bottom: 9px;*/
}

input[type=text],
input[type=password],
.select {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    padding: 8px 5px;
    border: 1px solid #e7e7e7;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
    color: #858585;
    font-size: 15px;
    outline: none;
    background-color: #fbfbfb;
    border: 1px solid #d5d5d5;
    font-family: inherit;
    -webkit-transition: -webkit-box-shadow .45s, border-color .45s ease-in-out;
    -moz-transition: -moz-box-shadow .45s, border-color .45s ease-in-out;
    -o-transition: box-shadow .45s, border-color .45s ease-in-out;
    transition: box-shadow .45s, border-color .45s ease-in-out;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: rgb(221, 221, 221);
}

.remember {
    color: #858585;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle !important;
    font-weight: normal !important;
}

input[type=checkbox] {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.p-container {
    padding: 0 20px 20px 20px;
}

.p-container:after {
    clear: both;
    display: table;
    content: "";
}

.p-container span a {
    font-size: 14px;
    display: block;
    float: left;
    color: #0d93ff;
    padding-top: 4px;
}

footer.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
}

footer .container .text-muted {
    margin: 20px 0;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}